* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

body {
    max-width: 1400px;    
    margin: 0 auto;
}

.content {
    width: 694px;    
    margin: 0 auto;

    &--full-width {
        width: 100%;
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.title {
    font-family: $font-stack;
    font-size: 44px;
    font-weight: bold;
    line-height: 0.92;
    color: $main-color-family;

    &--invert {
        color: #ffffff;
    }
}