* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

body {
    max-width: 1400px;    
    margin: 0 auto;
}

.content {
    width: 694px;    
    margin: 0 auto;

    &--full-width {
        width: 100%;
    }
}

.main-content {
    padding-top: 85.4px;

    &__col {
        @include flex(row, wrap, space-between, center, center);    
        margin-top: 55px;
    }

    &__text {
        font-family: Roboto;
        font-size: 29.5px;
        font-weight: 100;
        color: $main-color-family;    
        max-width: 436px;
    }

    &__advantage {
        border-bottom: 2px solid rgba(186, 178, 178, 0.5);
        padding: 64px 0px 58px;
    }

    &__icon {
        width: 188px;
        height: 195px;

        img {
            width: 100%;
        }
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.title {
    font-family: $font-stack;
    font-size: 44px;
    font-weight: bold;
    line-height: 0.92;
    color: $main-color-family;

    &--invert {
        color: #ffffff;
    }
}