* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

body {
    width: 1400px;    
    margin: 0 auto;
}

.content {
    width: 694px;    
    margin: 0 auto;

    &--full-width {
        width: 100%;
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

 