/lecture_03/node_modules
/lecture_03/package-lock.json
/lecture_05/node_modules
/lecture_05/package-lock.json
/lecture_07/node_modules
/lecture_07/package-lock.json
/lecture_09/node_modules
/lecture_09/package-lock.json
/lecture_11/node_modules
/lecture_11/package-lock.json
/lecture_13/node_modules
/lecture_13/package-lock.json
/lecture_15/node_modules
/lecture_15/package-lock.json