.form {

    &__control {
        background-color: #fefefe;
        border: 0px;            
        font-family: $font-stack;
        font-size: 19px;
        line-height: 1;

        &::-webkit-input-placeholder { 
            color: #d8d8d8;
        }

        &::-moz-placeholder {  
            color: #d8d8d8;
        }

        &:-ms-input-placeholder { 
            color: #d8d8d8;
        }

        &:-moz-placeholder { 
            color: #d8d8d8;
        }
    }
    
    &__col {
        margin-top: 34px;
    }

    &__label {
        font-size: 10px;
        font-weight: bold;
        font-family: $font-stack;
        line-height: .67;
        color: #323232;
        text-transform: uppercase;
        margin-left: -1px;
    }
}

 
 