.form-subscription {
    position: relative;    
    border-radius: 2.9px;
    overflow: hidden;    
    margin-top: 29px;

    &__control {
        padding: 17px 132px 19px 15px;
        width: calc(100% - 147px);
    }

    &__btn {
        position: absolute;
        top: 0px;
        right: 0px;    
        height: 100%;    
        width: 132px;
        background-color: $primary-color;

        &:hover {
            background-color: $primary-color-active;
            color: #ffffff;
        }
    }
}
