.footer {
    padding: 78px 0px 129px;

    &__col {
        @include flex(row, wrap, space-between, stretch, stretch);
    }

    &__title {
        font-family: $font-stack;
        font-weight: bold;
        color: $main-color-family;
        text-transform: uppercase;    
        font-size: 10px;
        margin-bottom: 16px;
        letter-spacing: -0.2px;
    }

    &__text {
        font-family: Helvetica;
        font-size: 13.5px;
        line-height: 1.74;
        color: $main-color-family;
    }

    &__social {
        width: 113px;
        margin: 0 auto;    
        padding-top: 8px;
    }

    &__item {
        min-width: 205px;

        &:last-child {
            min-width: 218px;
        }

        &:nth-child(2) {
            margin-left: 13px;
        }
    }
}
