.blog {
    padding-top: 71px; 

    &__col {
        margin: 58px 0px 88px;

        &:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }
    }
    
    &__item {
        width: 206px;    
        float: left;
        margin-right: 36px;

        &:nth-child(3) {
            margin-right: 0px;    
            margin-left: 2px;
        }
    }
    
    &__title {
        font-family: $font-stack;  
        font-size: 14.5px;
        font-weight: bold;
        color: $main-color-family;    
        width: 169px;
        margin: 29px auto 16px;
        text-transform: uppercase;
    }

    &__preview {
        max-width: 100%;

        &:hover {
            filter: brightness(110%);
        }
    }

    &__date {
        font-family: Helvetica;
        font-size: 13.5px;
        line-height: 1.74;
        color: rgba(4, 4, 5, 0.5);
    }

    &__text {
        font-family: Helvetica;
        font-size: 13.5px;
        line-height: 1.74;
        color: $main-color-family;    
        margin: 15px 0 29px;
    }

    &__btn {
        background-color: #ececec;

        &:hover {
            background-color: $primary-color;
        }
    }
}
