.pricing {
    padding: 86px 0px 87px;

    &__list {
        width: 100%;
        margin-top: 54px;    
        border-spacing: 0px;
        border-collapse: separate;
    }

    &-list {

        td {
            border-left: 2px solid rgba(0, 0, 0, 0.2);

            &:first-child {
                border-left: 0px;
                width: 214px;
                padding-right: 11px;
            }

            &:nth-child(2) {
                width: 237px;
            }

            &:nth-child(3) {
                padding-left: 3px;
            }
        }

        &__title {
            font-family: $font-stack;
            font-size: 14.5px;
            font-weight: bold;
            line-height: 0.8;
            color: $main-color-family;
            padding-bottom: 23px;
        }

        &__cost {
            font-family: $font-stack;
            letter-spacing: 1.1px;
            font-size: 13.9px;
            line-height: 0.8;
            color: rgba(4, 4, 5, 0.39);
        }

        &__info {
            font-family: Helvetica;
            font-size: 10.5px;
            line-height: 1.91;
            color: $main-color-family;
            padding: 15px 0 20px;
        }

        &__btn {
            background-color: $primary-color;

            &:hover {
                background-color: $primary-color-active;
                color: #ffffff;
            }
        }
    }
}
