.subscription {
    background-image: url(../../assets/newsletter.png);    
    background-size: cover;
    background-repeat: no-repeat;
    padding: 53px 0px 144px;

    &__caption {
        color: #ffffff;
    }

    &__form {
        width: 546px;
        margin: 0 auto;
    }
}
