.title {
    font-family: $font-stack;
    font-size: 43px;
    font-weight: bold;
    color: $main-color-family;    
    letter-spacing: 0.1px;
    margin-left: -9px;

    &--invert {
        color: #ffffff;
    }

    &--price {
        font-size: 42.8px;
        letter-spacing: -0.4px;
        margin-top: 3px;
    }

    &--video {
        font-size: 43.3px;
        letter-spacing: -0.1px;    
        margin-left: 0px;
    }

    &--team {
        font-size: 42px;
        letter-spacing: .8px;
        margin-left: 2px;
    }

    &--life {
        margin-left: -5px;
    }

    &--subscription {
        font-size: 41px;
        letter-spacing: 1.2px;
        margin-left: 4px;
    }

    &--blog {
        margin-left: -4px;
    }

    &--contact {
        margin-left: -7px;
    }
}