.cat-rocket {
    position: absolute;
    top: 15vw;
    left: 55%;
    width: 200px;
    height: 200px;
    opacity: 0;
}

.rocket__cats img {
    width: 200px;
    z-index: 1;
    position: relative;
    transform: rotate(-42deg);
    top: 33px;
}

@-webkit-keyframes reflection {
    0% {
      box-shadow: inset 52px 8px 60px -25px #fad000, inset 13px -6px 22px 2px rgba(0, 0, 0, 0.6);
    }
    100% {
      box-shadow: inset 62px 8px 50px -25px yellow, inset 13px -6px 22px 2px rgba(0, 0, 0, 0.6);
    }
  }
  @keyframes reflection {
    0% {
      box-shadow: inset 52px 8px 60px -25px #fad000, inset 13px -6px 22px 2px rgba(0, 0, 0, 0.6);
    }
    100% {
      box-shadow: inset 62px 8px 50px -25px yellow, inset 13px -6px 22px 2px rgba(0, 0, 0, 0.6);
    }
  }
  @-webkit-keyframes fly {
    0% {
      -webkit-transform: translate(-50px, 0px) rotate(5deg) scale(1);
      transform: translate(-50px, 0px) rotate(5deg) scale(1);
    }
    50% {
      -webkit-transform: translate(-100px, 50px) rotate(0deg) scale(1.5);
      transform: translate(-100px, 50px) rotate(0deg) scale(1.5);
    }
    100% {
      -webkit-transform: translate(10px, 100px) rotate(-5deg) scale(1);
      transform: translate(10px, 100px) rotate(-5deg) scale(1);
    }
  }
  @keyframes fly {
    0% {
      -webkit-transform: translate(-50px, 0px) rotate(5deg) scale(1);
      transform: translate(-50px, 0px) rotate(5deg) scale(1);
    }
    50% {
      -webkit-transform: translate(-100px, 50px) rotate(0deg) scale(1.5);
      transform: translate(-100px, 50px) rotate(0deg) scale(1.5);
    }
    100% {
      -webkit-transform: translate(10px, 100px) rotate(-5deg) scale(1);
      transform: translate(10px, 100px) rotate(-5deg) scale(1);
    }
  }
  @-webkit-keyframes fire {
    0% {
      box-shadow: inset 6px 0px 7px 0px #e4ae69;
    }
    100% {
      box-shadow: inset 12px 0px 7px -4px #fff;
    }
  }
  @keyframes fire {
    0% {
      box-shadow: inset 6px 0px 7px 0px #e4ae69;
    }
    100% {
      box-shadow: inset 12px 0px 7px -4px #fff;
    }
  }
  @-webkit-keyframes stars {
    0% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
    }
    100% {
      -webkit-transform: translateX(-100vw);
      transform: translateX(-100vw);
    }
  }
  @keyframes stars {
    0% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
    }
    100% {
      -webkit-transform: translateX(-100vw);
      transform: translateX(-100vw);
    }
  }
  @-webkit-keyframes flicker {
    0% {
      -webkit-transform: rotate(40deg) translate(10px, -10px);
      transform: rotate(40deg) translate(10px, -10px);
      opacity: 0.7;
    }
    20% {
      -webkit-transform: rotate(35deg) translate(20px, -20px);
      transform: rotate(35deg) translate(20px, -20px);
      opacity: 1;
    }
    40% {
      -webkit-transform: rotate(45deg) translate(15px, -15px);
      transform: rotate(45deg) translate(15px, -15px);
      opacity: 0.7;
    }
    60% {
      -webkit-transform: rotate(35deg) scale(1.02) translate(10px, -10px);
      transform: rotate(35deg) scale(1.02) translate(10px, -10px);
      opacity: 1;
    }
    80% {
      -webkit-transform: rotate(45deg) scale(0.9) translate(5px, -5px);
      transform: rotate(45deg) scale(0.9) translate(5px, -5px);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: rotate(40deg) translate(0px, 0px);
      transform: rotate(40deg) translate(0px, 0px);
      opacity: 1;
    }
  }
  @keyframes flicker {
    0% {
      -webkit-transform: rotate(40deg) translate(10px, -10px);
      transform: rotate(40deg) translate(10px, -10px);
      opacity: 0.7;
    }
    20% {
      -webkit-transform: rotate(35deg) translate(20px, -20px);
      transform: rotate(35deg) translate(20px, -20px);
      opacity: 1;
    }
    40% {
      -webkit-transform: rotate(45deg) translate(15px, -15px);
      transform: rotate(45deg) translate(15px, -15px);
      opacity: 0.7;
    }
    60% {
      -webkit-transform: rotate(35deg) scale(1.02) translate(10px, -10px);
      transform: rotate(35deg) scale(1.02) translate(10px, -10px);
      opacity: 1;
    }
    80% {
      -webkit-transform: rotate(45deg) scale(0.9) translate(5px, -5px);
      transform: rotate(45deg) scale(0.9) translate(5px, -5px);
      opacity: 0.7;
    }
    100% {
      -webkit-transform: rotate(40deg) translate(0px, 0px);
      transform: rotate(40deg) translate(0px, 0px);
      opacity: 1;
    }
  }

  
  .rocket {
    height: 200px;
    width: 400px;
    -webkit-animation: fly 8.8s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
    animation: fly 8.8s infinite alternate cubic-bezier(0.45, 0.05, 0.55, 0.95);
    position: relative;
    margin: 0 auto;
    -webkit-transform-origin: left;
            transform-origin: left;
    z-index: 10;
  }


  .flames {
    top: 147px;
    left: 14px;
    position: absolute;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    list-style: none;
    padding: 0;
    margin: 0;

    @for $i from 1 through 4 {
        $counter: 1*$i;

        li:nth-of-type(#{$i}){
            -webkit-animation-delay: #{-$counter}s;
            animation-delay: #{-$counter}s;
            -webkit-animation-duration: #{$counter * .1}s;
            animation-duration: #{$counter * .1}s;
        }
    }

    li {
        -webkit-animation-name: flicker;
        animation-name: flicker;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-transform: rotate(-135deg) scale(1.2, 1.2);
        transform: rotate(-135deg) scale(1.2, 1.2);
        border-radius: 50% 0;
        position: absolute;
        opacity: .8;
    }

    &--yellow {
        left: 10px;
        width: 30px;
        height: 30px;
        background: #f5cc00;
        box-shadow: 0px 0px 9px 4px #f5cc00;
        top: -40px;
    }

    &--orange {
        left: -9px;
        width: 40px;
        height: 40px;
        background: #faa700;
        box-shadow: 0px 0px 9px 4px #faa700;
        top: -43px;
    }

    &--red {
        left: -10px;
        width: 50px;
        height: 50px;
        background: #ff4000;
        box-shadow: 0px 0px 5px 4px #ff4000;
        top: -48px;

        &:after {
            -webkit-animation: flicker 0.2s infinite ease;
            animation: flicker 0.2s infinite ease;
            width: 14px;
            height: 14px;
            background: #ff4000;
            box-shadow: 0px 0px 5px 4px #ff4000;
            top: 51px;
            content: "";
            display: block;
            border-radius: 50% 0;
            position: absolute;
            left: -30px;
            opacity: 0.2;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
        }
    }

    &--white {
        left: 30px;
        bottom: 8px;
        width: 30px;
        height: 30px;
        background: white;
        box-shadow: 0px 0px 9px 4px white;
    }
  }

  .stars {
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  
    @for $i from 1 through 130 {
      $counter: 50*$i;
      li:nth-of-type(#{$i}){
        -webkit-animation-delay: #{-$counter}s;
        animation-delay: #{-$counter}s;
        -webkit-animation-duration: #{$counter * .02}s;
        animation-duration: #{$counter * .02}s;
        top: random(600) + px;
        left: random(1400) + px;
      }
    }
    
    li {
        -webkit-animation-name: stars;
        animation-name: stars;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        height: 2px;
        width: 2px;
        background: white;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0px 0px 20px 0px white;
        left: 10px;
        top: 10px;
        z-index: 0;
    }
  }