.social {

    &__link {
        color: #000000;
        text-decoration: none;
        font-size: 20px;

        &:hover {
            color: $primary-color-active;
        }
    }

    &__icon {
        @extend %animation;    
        padding: 8px;

        &:hover {
            -o-transform: rotate(1turn);
            -ms-transform: rotate(1turn);
            -moz-transform: rotate(1turn);
            -webkit-transform: rotate(1turn);
            transform: rotateY(1turn);
        }
    }
}
