.blog {
    padding-top: 65px; 

    &__col {
        margin: 0px 0px 88px;
    }
    
    &__item {
        width: 206px;   
        background: white;
        @extend %slow-animation;  

        &:focus {
            transform: scale(1.1) translate(-108%,0);    
            outline: 1px solid $primary-color;    
            position: relative;
            z-index: 1;
        }

        &:nth-child(1):focus {
            transform: scale(1.1) translate(108%,0);
        }

        &:nth-child(2):focus {
            transform: scale(1.1) translate(0,0);
        }

        &:nth-child(31):focus {
            transform: scale(1.1) translate(-108%,0);
        }
     }
    
    &__title {
        font-family: $font-stack;  
        font-size: 14.5px;
        font-weight: bold;
        color: $main-color-family;    
        width: 169px;
        margin: 0px auto 16px;
        text-transform: uppercase;
    }

    &__preview {
        max-width: 100%;
        margin-bottom: 29px;
        @extend %animation;

        &:hover {
            filter: brightness(110%);
        }
    }

    &__date {
        font-family: Helvetica;
        font-size: 13.5px;
        line-height: 1.74;
        color: rgba( $main-color-family, .5 );
        margin-bottom: 15px;
    }

    &__text {
        font-family: Helvetica;
        font-size: 13.5px;
        line-height: 1.74;
        color: $main-color-family;    
        margin: 0px 0 28px;
    }

    &__btn {
        background-color: #ececec;

        &:hover {
            background-color: $primary-color;
        }
    }
}
