.header {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;    
    z-index: 1;
    padding: 41px 0px;

    &__logo {
        font-family: $font-stack;
        font-size: 26.5px;
        font-weight: 700;
        line-height: .8;
        letter-spacing: -2.1px;
        text-align: left;
        text-transform: uppercase;
        color: #fff;

        &:hover + .cat-rocket {
            opacity: 1;
        }
    }

    .content {
        @include flex(row, wrap, space-between, flex-start, space-between);
    }
}